* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  width: 1600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.header-title {
  width: 500px;
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  margin-top: 200px;
  margin-right: 230px;
  margin-bottom: 24px;
}

.header-description {
  width: 500px;
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400px;
  margin-top: 0;
  margin-right: 230px;
  margin-bottom: 30px;
}

.contact-btn {
  width: 160px;
  height: 65px;
  border: 0;
  border-radius: 5px;
  background: #f15b22;
  margin-top: 0;
  margin-right: 230px;
  margin-bottom: 160px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.main-info-container{
    display: flex;
    margin-top: 140px;
}

/* .info-img img{
    width: 450px;
    height: 900px;
} */

.info-img{
  width: 528px;
  height: 528px;
  border-radius: 528px;
  background: rgba(241, 91, 34, 0.20);
  /* margin-top: 186px; */
}
